<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
  <link rel="stylesheet" href="/stylesheets/signup-login.css">
  <title>Login</title>
</head>

<body>

  <div class="nav">
    <div class="logo">
      <h3><a href="/">green helper 🌱</a></h3>
    </div>
  </div>

  <div class="center-div">
    <form action="/auth/login" method="POST" class="form-container">
      <h2>login</h2>
      <label for="username">username</label> <br>
      <input id="username" type="text" name="username">

      <br><br>

      <label for="password">password</label> <br>
      <input id="password" type="password" name="password">

      <br>
      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}

      <br>

      <button class="btn">login</button>

      <p class="account-message">
        Don't have an account yet?
        <a href="/auth/signup">sign up</a>
      </p>
    </form>
  </div>

</body>

</html>