<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
  <link rel="stylesheet" href="/stylesheets/signup-login.css">
  <title>Sign up</title>
</head>

<body>
  <div class="nav">
    <div class="logo">
      <h3><a href="/">green helper 🌱</a></h3>
    </div>
  </div>

  <div class="center-div">
    <form action="/auth/signup" method="POST" class="form-container">
      <h2>sign up</h2>

      <label for="username">username</label> <br>
      <input id="username" type="text" name="username">

      <br><br>

      <label for="password">password</label> <br>
      <input id="password" type="password" name="password">

      <br>
      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}

      <br>

      <button class="btn">create account</button>

      <p class="account-message">
        Do you already have an account?
        <a href="/auth/login">login</a>
      </p>
      <br>
      <br>
    </form>
  </div>

</body>

</html>


{{!-- 
<form action="/auth/signup" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br>
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</form> --}}