<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/dashboard.css">
  <title>Dashboard</title>
</head>

<body>
  <div class="nav">
    <div class="logo">
      <h3><a href="/">green helper 🌱</a></h3>
    </div>

    <div class="nav-link active">
      <a href="/auth/logout">log out</a>
    </div>
  </div>

  <div class="headings">
    <h1>welcome sunshine!</h1>
    <h2>thanks for checking back in 🌿</h2>
  </div>

  <div class="container">
    <div class="main-container">
      <div class="small-container">
        <div class="text">
          <div class="icons">
            <img src="/images/pig.png" alt="pig icon">
          </div>
          <p> for the animals
          </p>
        </div>
        <div class="button">
          <a class="btn btn-lg btn-secondary" href="/animals">click me</a>
        </div>
      </div>
      <div class="small-container">
        <div class="text">
          <div class="icons">
            <img src="/images/worldwide.png" alt="earth icon">
          </div>
          <p> for the environment
          </p>
        </div>
        <div class="button">
          <a class="btn btn-lg btn-secondary" href="/environment">click me</a>
        </div>
      </div>
      <div class="small-container">
        <div class="text">
          <div class="icons">
            <img src="/images/recipe.png" alt="earth icon">
          </div>
          <p> for your health
          </p>
        </div>
        <div class="button">
          <a class="btn btn-lg btn-secondary" href="/recipes">click me</a>
        </div>
      </div>
    </div>

    <div class="documentaries">
      <h2>↓ vegan documentaries and films ↓</h2>
      <p>watch these with your firends and family</p>
      <div class="main-container-docs">
        <div class="small-container-docs">
          <div class="text">
            <div class="docPics">
              <a href="https://vimeo.com/209647801"><img class="docImg"
                  src="https://i.ytimg.com/vi/R-rDurOJ0B4/hqdefault.jpg" alt="earthlings"></a>
            </div>
          </div>
          <a class="docLinks" href="https://vimeo.com/209647801" target="_blank">earthlings</a>
        </div>
        <div class="small-container-docs">
          <div class="text">
            <div class="docPics">
              <a href="https://itunes.apple.com/us/movie/the-game-changers/id1478966396"><img class="docImg"
                  src="https://cdn-img.health.com/sites/default/files/styles/large_16_9/public/styles/main/public/thegamechangers-preview.jpg?itok=z4qlx3OJ&1568396826"
                  alt="earthlings"></a>
            </div>
          </div>
          <a class="docLinks" href="https://itunes.apple.com/us/movie/the-game-changers/id1478966396"
            target="_blank">the game changers</a>
        </div>
        <div class="small-container-docs">
          <div class="text">
            <div class="docPics">
              <a href="https://www.netflix.com/title/80174177"><img class="docImg"
                  src="http://static1.squarespace.com/static/56a13652bfe873bffd8ad2ce/t/58a79305414fb535f708d339/1487377158567/tugg_1920x1080.jpg?format=1500w"
                  alt="earthlings"></a>
            </div>
          </div>
          <a class="docLinks" href="https://www.netflix.com/title/80174177" target="_blank">what the
            health</a>
        </div>
      </div>
      <div class="main-container-docs">
        <div class="small-container-docs">
          <div class="text">
            <div class="docPics">
              <a href="https://www.youtube.com/watch?v=ny6aqdFy9SI&t=69s"><img class="docImg"
                  src="https://www.plantbasednews.org/.image/t_share/MTY1NTk1NTY0ODE2NzM3NTY3/image-placeholder-title.jpg"
                  alt="earthlings"></a>
            </div>
          </div>
          <a class="docLinks" href="https://www.youtube.com/watch?v=ny6aqdFy9SI&t=69s" target="_blank">dominion</a>
        </div>
        <div class="small-container-docs">
          <div class="text">
            <div class="docPics">
              <a href="https://www.netflix.com/title/80033772"><img class="docImg"
                  src="https://conscientiousprojector.files.wordpress.com/2015/05/1416516086448.png"
                  alt="earthlings"></a>
            </div>
          </div>
          <a class="docLinks" href="https://www.netflix.com/title/80033772" target="_blank">cowspiracy</a>
        </div>
        <div class="small-container-docs">
          <div class="text">
            <div class="docPics">
              <a href="https://www.netflix.com/title/70185045"><img class="docImg"
                  src="https://i.ytimg.com/vi/pkgN8uLMCGQ/maxresdefault.jpg" alt="earthlings"></a>
            </div>
          </div>
          <a class="docLinks" href="https://www.netflix.com/title/70185045" target="_blank">forks over
            knives</a>
        </div>
      </div>
    </div>

  </div>
</body>

</html>