<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/dashboard.css">
  <title>Dashboard</title>
</head>

<body>
  <div class="nav">
    <div class="logo">
      <h3><a href="/">Green Helper 🌱</a></h3>
    </div>

    <div class="buttons">
      <a href="/auth/logout">Log Out</a>
    </div>
  </div>

  <div class="headings">
    <h1>Welcome sunshine!</h1>
    <h2>Thanks for checking back in ❤️</h2>
  </div>

  <div class="container">
    <div class="main-container">
      <div class="small-container">
        <div class="text">
          <p> Animal resource:
          </p>
        </div>
        <div class="button">
          <a class="btn btn-lg btn-secondary" href="/animals">Animals</a>
        </div>
      </div>
      <div class="small-container">
        <div class="text">
          <p> Environmental facts:
          </p>
        </div>
        <div class="button">
          <a class="btn btn-lg btn-secondary" href="/environment">Environment</a>
        </div>
      </div>
      <div class="small-container">
        <div class="text">
          <p> Yummy recipe:
          </p>
        </div>
        <div class="button">
          <a class="btn btn-lg btn-secondary" href="/recipes">Recipe</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>