<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
  <!--	
	___________________________________________________________
   
	                   killcounter-code.html
	      XGB Web and Software Design ~ www.xgbdesign.com

	  N.B.: This code was substantially modified in July 2011.
	___________________________________________________________
	-->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta lang="en" content="English" />
  <meta name="revised" content="2012.10.10" />
  <meta name="ADAPTT" content="Animals Deserve Absolute Protection Today and Tomorrow" />
  <meta name="keywords"
    content="ADAPTT, animal rights, veganism, Gary Yourofsky, fight speciesism, fight animal abuse" />
  <meta name="description" content="This page incorporates the basic XHTML, CSS, and JavaScript source code for the 
		ADAPTT Kill Counter. This code is a modification of code produced by Action for Animals and SFVegan." />

  <title>The Animal Kill Counter: Basic Version &lt;&lt; ADAPTT :: Animals Deserve Absolute Protection Today and
    Tomorrow</title>
  <link rel="shortcut icon" href="grfx/main/a.ico" />

  <!-- Add JavaScript variables and functions for the ADAPTT Kill Counter: -->
  <script type="text/javascript">

    // Global variables: ___________________________________________________________________

    var counts = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
    var rate = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];

    // Functions: __________________________________________________________________________

    function StartKillCounter() {
      var millions = [90000, 45895, 2262, 1244, 857, 691, 533, 515, 345, 292, 65, 63, 23, 16, 4, 4, 3, 2];
      var perSecond = 8;
      for (var i = 0; i < counts.length; ++i)
        rate[i] = millions[i] * 1000000 / 365 / 24 / 60 / 60 / perSecond;
      setInterval(NewCounts, 1000 / perSecond);
    }

    function NewCounts() {
      var num, thous, str;
      for (var i = 0; i < counts.length; ++i) {
        counts[i] += rate[i];
        num = Math.round(counts[i]);
        str = "";
        while (num > 1000) {
          thous = num % 1000;
          if (thous < 10)
            thous = "00" + thous;
          else if (thous < 100)
            thous = "0" + thous;
          str = "," + thous + str;
          num = Math.floor(num / 1000);
        }
        str = num + str;
        document.getElementById("count" + i).innerHTML = str;
      }
    }
  </script>

  <!-- Add local CSS for the ADAPTT Kill Counter. 
		  Please Note: This code block MUST contain AT MINIMUM the following code: -->
  <style type="text/css">
    span#count0,
    span#count1,
    span#count2,
    span#count3,
    span#count4,
    span#count5,
    span#count6,
    span#count7,
    span#count8,
    span#count9,
    span#count10,
    span#count11,
    span#count12,
    span#count13,
    span#count14,
    span#count15,
    span#count16,
    span#count17 {
      display: inline;
    }

    body {
      margin: 0;
      padding: 0;
    }
  </style>

  <!-- Begin Google Analytics code: -->
  <script type="text/javascript">
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-44763726-1', 'adaptt.org');
    ga('send', 'pageview');
  </script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
  <div class="background-pic-killcounter">

    <a class="btn btn-lg btn-secondary" href="/">Go back</a>

    <!-- Begin the ADAPTT Kill Counter: -->
    <div class="counter">
      <div class="background-div">
        <h2>Animals Slaughtered:</h2>
        <p>..since you opened this page</p>
        <p>
          <span id="count0">0</span>&nbsp;marine animals<br />
          <span id="count1">0</span>&nbsp;chickens<br />
          <span id="count2">0</span>&nbsp;ducks<br />
          <span id="count3">0</span>&nbsp;pigs<br />
          <span id="count4">0</span>&nbsp;rabbits<br />
          <span id="count5">0</span>&nbsp;turkeys<br />
          <span id="count6">0</span>&nbsp;geese<br />
          <span id="count7">0</span>&nbsp;sheep<br />
          <span id="count8">0</span>&nbsp;goats<br />
          <span id="count9">0</span>&nbsp;cows and calves<br />
          <span id="count10">0</span>&nbsp;rodents<br />
          <span id="count11">0</span>&nbsp;pigeons and other birds<br />
          <span id="count12">0</span>&nbsp;buffaloes<br />
          <span id="count13">0</span>&nbsp;dogs<br />
          <span id="count14">0</span>&nbsp;cats<br />
          <span id="count15">0</span>&nbsp;horses<br />
          <span id="count16">0</span>&nbsp;donkeys and mules<br />
          <span id="count17">0</span>&nbsp;camels and other camelids
        </p>

        <script type="text/javascript">
          StartKillCounter();
        </script>
      </div>
    </div>
  </div>
</body>

</html>