<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/dashboard.css">
  <title>Resources</title>
</head>

<body>

  <div class="nav">
    <div class="logo">
      <h3><a href="/">Green Helper 🌱</a></h3>
    </div>

    <div class="nav-link active">
      <a href="/auth/logout">Log Out</a>
    </div>
  </div>

  <div class="headings">
    <h1>Rescources</h1>
  </div>

  <div class="container">
    <div class="res-container">
      <div class="middle-container">
        <h3> All animal resources:
        </h3>
        <div class="resources">
          <ol>
            <li><a href="https://www.youtube.com/watch?v=y2k4NHjAP84&t=1s">Why Vegan? [NOT-GRAPHIC]</a></li>
            <li><a href="https://www.youtube.com/watch?v=YnQb58BoBQw&t=13s">The Food Matrix - 101 Reasons to Go
                Vegan</a></li>
            <li> <a href="https://www.youtube.com/watch?v=UcN7SGGoCNI&t=1s">DAIRY IS SCARY! The industry explained in 5
                minutes</a></li>
            <li><a href="https://www.youtube.com/watch?v=pdiOKzGw-2c">Why Vegan?</a></li>
            <li><a href="https://www.youtube.com/watch?v=VI4EjUJb6PQ">'Humane' slaughter DEBUNKED in 5 minutes</a></li>
            <li><a href="https://www.youtube.com/watch?v=siTvjWE2aVw">The Wool Industry EXPOSED (What They Don't Want
                You To Know)</a></li>
            <li><a href="https://www.youtube.com/watch?v=utPkDP3T7R4">What's Wrong With Eggs? The Truth About The Egg
                Industry 🍳</a></li>
            <li><a href="https://www.youtube.com/watch?v=Nowf6Z3YCnA">This Will Make You Cry</a></li>
            <li><a href="https://www.youtube.com/watch?v=iL9QJEm_SJY">Vegan Visits Dairy Farm</a></li>
            <li><a href="https://www.youtube.com/watch?v=CK3zdErdp7o">BE THE CHANGE - INSPIRATIONAL VEGAN ANIMAL
                RIGHTS</a></li>
            <li><a href="https://www.youtube.com/watch?v=uQCe4qEexjc&t=5s">Philip Wollen : Animals Should Be Off The
                Menu debate</a></li>
            <li><a href="https://www.youtube.com/watch?v=Z3u7hXpOm58">You Will Never Look at Your Life in the Same Way
                Again | Eye-Opening Speech!</a></li>
            <li><a href="https://www.youtube.com/watch?v=SYyjel5VuHg">British Farmer's Son Shocks Vegan World with this
                video</a></li>
            <li><a href="https://www.youtube.com/watch?v=c1DcFmUrxUQ">Casa de Carne</a></li>
          </ol>
        </div>
      </div>
      <div class="middle-container">
        <h3> All environmental facts:
        </h3>
        <div class="resources">
          <a href="https://www.cowspiracy.com/facts"> ..can be found here (Cowspiracy Facts)</a>
        </div>
      </div>
      <div class="middle-container">
        <h3> All recipes:</h3>
        <div class="resources">
          <ol>
            <li><a href="https://www.theeasyvegan.org/vegan-paella/">Paella</a></li>
            <li><a href="https://minimalistbaker.com/1-bowl-peanut-butter-protein-pancakes/">Peanut Butter Pancakes</a>
            </li>
            <li><a href="https://thehappypear.ie/recipes/the-most-epic-vegan-chocolate-cake/">Chocolate Cake</a>
            </li>
            <li><a href="https://www.theeasyvegan.org/vegan-lentil-and-chickpea-shepherds-pie/">Lentil & Chickpea
                Shepherd's Pie</a></li>
            <li><a href="https://thehappypear.ie/recipes/5-minute-dahl/">Dahl</a></li>
            <li><a href="https://thehappypear.ie/recipes/one-pot-wonder-ratatouille/">Ratatouille</a></li>
            <li><a href="https://www.hotforfoodblog.com/recipes/2019/08/28/vegan-breakfast-taquitos/">Breakfast
                Taquitos</a></li>
            <li><a href="https://www.hotforfoodblog.com/recipes/2019/08/14/vegan-cubano-sandwich/">Cubano Sandwich</a>
            </li>
            <li><a href="https://www.hotforfoodblog.com/recipes/2018/9/13/vegan-cheeseburger-bites/">Cheeseburger
                Bites</a></li>
            <li><a href="https://www.bosh.tv/recipes/pasta-with-bosh-balls-veganuary-week-3">BOSHballs</a></li>
            <li><a href="https://www.hotforfoodblog.com/recipes/2015/10/28/easy-vegan-brownie-bites/">Brownie Bites</a>
            </li>
            <li><a href="https://www.hotforfoodblog.com/recipes/2014/11/1/vegan-buffalo-cauliflower-sandwich/">Buffalo
                cauliflower sandwich</a></li>
            <li><a href="https://www.hotforfoodblog.com/recipes/2018/10/28/vegan-caramel-peanut-chocolate-bars/">Caramel
                peanut chocolate bars</a>
            </li>
            <li><a href="https://www.hotforfoodblog.com/recipes/2015/2/2/vegan-pad-thai/">Pad Thai</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>

</body>

</html>