@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");

body {
  margin: 0;
  padding: 0;
  width: 100vh;
  width: 100vw;
  font-family: "Raleway", sans-serif;
  background-image: url("https://images.unsplash.com/photo-1517520654015-b59d3b6ca607?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.headings {
  text-align: center;
  margin: 0;
  padding-top: 60px;
  color: rgb(255, 255, 255);
}

.headings h1 {
  font-family: "Righteous", sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px #6ab13b;
  font-size: 100px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.small-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(178, 212, 150, 0.603);
  margin: 30px;
  width: 20vw;
  height: 30vh;
  border-radius: 8px;
}

.text p {
  font-size: 30px;
  text-align: center;
  color: white;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: rgb(51, 51, 51);
  text-shadow: none;
  background-color: rgb(255, 255, 255);
  border: 0.05rem solid #fff;
}

.btn {
  font-weight: bold;
  width: 10vw;
  margin: 20px;
}

.btn:hover {
  background-color: rgb(173, 219, 113);
}

.buttons {
  float: right;
}

.buttons a {
  text-decoration: none;
  color: white;
  border-radius: 6px;
  border: none;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.609);
  font-size: 20px;
}

.buttons a:hover {
  background-color: rgba(173, 219, 113, 0.6);
  color: black;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: white;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-link:hover .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-link {
  margin-left: 1rem;
}

.active {
  color: #fff;
  border-bottom-color: #fff;
}

.middle-container {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  background-color: rgba(178, 212, 150, 0.8);
  margin: 30px;
  width: 50vw;
  height: 40vh;
  border-radius: 8px;
  overflow-y: scroll;
}

.icons {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

//resources page

.resources {
  width: 80%;
  padding-left: 200px;
}

.middle-container h3 {
  padding: 40px 0;
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  text-shadow: 2px 2px green;
  text-align: center;
}

.resources a {
  text-align: center;
}

.resources a {
  color: white;
  font-size: 25px;
  text-align: center;
}

.resources li {
  // list-style: none;
  margin-top: 15px;
  color: white;
}

.res-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.icons-res {
  display: flex;
  justify-content: center;
  padding-top: 35px;
}

/* ########################################## - DOCUMENTARIES STYLE - ########################################## */

.documentaries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.documentaries h2,
p {
  color: white;
  font-weight: bolder;
}

.docImg {
  width: 100%;
  height: 150px;
}

.docPics {
  background-color: black;
  width: 15vw;
  height: 150px;
}

.docLinks {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: bolder;
}

.docLinks:hover {
  text-decoration: underline;
  color: #ffffff;
}

.small-container-docs {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(178, 212, 150, 0);
  margin: 30px;
  width: 20vw;
  height: 30vh;
  border-radius: 8px;
}

.main-container-docs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
