@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif; }

/* ########################################## - RECIPES STYLE - ########################################## */
.recipeBody {
  background: url("https://images.unsplash.com/photo-1562666810-08c31d401860?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2657&q=80") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.recipeContainer {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3), 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 2% 3% 5% 3%;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.9); }

#recipeDescription {
  text-align: center;
  font-size: 1.4rem;
  padding-bottom: 3rem; }

#recipeImage {
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  border-radius: 8px;
  align-self: center;
  object-fit: cover;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3), 0 1px 4px rgba(0, 0, 0, 0.3); }

@media (min-width: 920px) {
  #recipeImage {
    height: 300px;
    width: 300px; } }

@media (min-width: 1160px) {
  #recipeImage {
    height: 500px;
    width: 500px; } }

#recipeHeading {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 3%; }

#recipeHeadingLeft {
  flex: 3;
  max-width: 500px; }

#recipeHeadingRight {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  text-align: center; }

#recipeHeading h1 {
  font-size: 2.5rem;
  align-self: left; }

#recipeHeading p {
  font-size: 0.8rem;
  justify-content: flex-end;
  padding: 3px; }

#recipeUrl {
  align-self: center; }

hr {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.12); }

/* ########################################## - ANIMALS STYLE - ########################################## */
.animalsBody {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://images.unsplash.com/photo-1495107334309-fcf20504a5ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100vw; }

.animalsContainer {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3), 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 2% 3% 5% 3%;
  width: 70vw;
  height: 80vh;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.9); }

.animalsContainer h3 {
  text-align: center; }

#animalsUrl {
  align-self: center;
  width: 60vw;
  height: 70vh; }

/* ########################################## - ENVIRONMENT STYLE - ########################################## */
.environmentBody {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/6/1/2/6/2366216-1-eng-GB/Danish-pig-farmers-start-testing-their-own-herds-as-MRSA-risk-grows.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100vw; }

.environmentContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2% 4% 2% 4%;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3), 0 1px 4px rgba(0, 0, 0, 0.2);
  width: 50vw;
  height: 60vh;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative; }

.envHeader h1 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bolder; }

.environmentContainer h2 {
  font-size: 1.3rem;
  align-self: center;
  justify-content: center; }

#envSource {
  font-size: 0.7rem;
  position: absolute;
  bottom: 0;
  left: 0; }

/*# sourceMappingURL=style.css.map */